<div class="add-container">
    <div class="add-button">
        <button class="btn" (click)="showAddEditor()"><img src="../../../assets/images/add-button.png"> Add new item </button>
    </div>
</div>

<div class="search-container">
    <div class="search-input">
      <p>Search:</p>
      <input type="text" (input)="changeSearchString($event.target)"  class="form-control"/>
    </div>
</div>
<app-list [list]="users | filter : searchString" [itemTmpl]="itemTmpl" (refresh)="refreshList()"></app-list>

<ng-template #itemTmpl let-context="context">
    <app-user-list-block [user]="context.item" (deleteUser)="deleteUser($event)" (editUser)="editUser($event)"></app-user-list-block>
</ng-template>

<div *ngIf="users.length==0">
    <div class="no-user">No users...</div>
</div>